
.comment-item {
    margin-left: 20px;
}

.post-create{
    >.post-block{
        >div {
            >.post_body_block_input_name{
                >.post_body_input{
                    width: 100%;
                    height: 30px;
                    margin-top: 10px;
                    padding: 0px 10px 0px 10px;
                }
            }
        }
        .post_block_input_body{
            >div {
                >.text-area-container{
                    background: rgb(17 24 39 / var(--tw-bg-opacity));
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    display: flex;
                    margin-top: 10px;
                    .text-post-body {
                        width: 100%;
                        min-height: 30px;
                        resize: none;
                        overflow-y: hidden;
                        box-sizing: border-box;
                        border: none;
                        &:focus{
                            border: none;
                        }
                    }
                }

            }

        }

    }

}
