//.posts-block-body {
//    > p {
//        max-height: 100px;
//        overflow: hidden;
//        transition: max-height 0.3s ease;
//        margin-bottom: 20px;
//    }
//
//    > .expanded p {
//        max-height: none;
//    }
//}

.pagination-posts {
    margin-bottom: 20px;
    display: flex;
    align-items: unset;
    flex-direction: column;
    justify-content: center;
}
